.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
  grid-gap: 16px;
}

.cards > ul > li {
  border: 1px solid var(--dark-color);
  background-color: var(--background-color);
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

/* Hero Cards */

.cards.hero-cards {
  width: 100%;
  max-width: 106.5rem;
  margin: 4.8rem auto;
  position: relative;
  z-index: 1;
}

.cards.hero-cards > ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 0;
  margin-top: -21.5rem;
}

.cards.hero-cards > ul > li {
  --background-color: var(--link-color);

  border: none;
  width: 50%;
  min-height: 19.8rem;
  max-height: 19.8rem;
}

.cards.hero-cards .cards-card-image img {
  max-height: 6rem;
  min-height: 6rem;
  position: relative;
  z-index: 2;
  object-fit: contain;
}

.cards.hero-cards .cards-card-body p {
  margin: 0;
  color: var(--text-color-white);
  font-size: var(--body-font-size-xs);
  font-weight: var(--font-semibold);
  text-transform: uppercase;
  line-height: 1;
}

.cards.hero-cards > ul > li:hover {
  --background-color: var(--text-color-white);
}

.cards.hero-cards > ul > li:hover img {
  transform: scale3d(1.2, 1.2, 1);
  transition: 0.5s transform ease-in-out;
  filter: invert(45%) sepia(83%) saturate(1961%) hue-rotate(171deg) brightness(86%) contrast(102%);
}

.cards.hero-cards > ul > li:hover p {
  color: var(--text-color);
}

.cards.hero-cards > ul > li a {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
}

.cards.hero-cards .cards-card-image {
  padding-top: 4.5rem;
}

.cards.hero-cards .cards-card-body {
  margin: 1.5rem 0;
  text-align: center;
  font-family: var(--body-font-family-mont);
  padding: 0 1.9rem;
}

.cards.hero-cards > ul > li:last-child {
  width: 100%;
}

.cards.hero-cards > ul > li:last-child .cards-card-body {
  width: 40%;
  margin: 0 auto;
  padding: 0 4rem;
}

@media (width >= 480px) {
  .cards.hero-cards > ul > li {
    max-width: 21.3rem;
    min-width: 21.3rem;
    min-height: 20.8rem;
    max-height: 20.8rem;
  }

  .cards.hero-cards .cards-card-body p {
    font-size: var(--body-font-size-xxs);
  }

  .cards.hero-cards > ul > li:last-child .cards-card-body {
    width: unset;
    margin: 1.5rem 0;
    padding: 0 1.9rem;
  }
}

/* Mosaic Cards */

.cards.mosaic-cards > ul {
  grid-auto-rows: minmax(145px, auto);
  grid-template-columns: repeat(2, 1fr);
  gap: 1.875rem 30px;
}

.cards.mosaic-cards > ul > li:nth-of-type(2) {
  grid-row: span 2;
}

.cards.mosaic-cards > ul > li:nth-of-type(3) {
  grid-row: span 2;
}

.cards.mosaic-cards > ul > li {
  border: none;
  border-radius: 0;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
  min-height: 372px;
  max-height: 604px;
  width: 100%;
  min-width: 100%;
  word-wrap: break-word;
  position: relative;
}

.cards.mosaic-cards > ul > li:hover .cards-card-body {
  width: 400px;
  max-height: 500px;
  transition: max-height 2s ease-out, width 0.3s ease-out;
}

.cards.mosaic-cards > ul > li:hover .cards-card-body h5 {
  max-width: none; 
}

.cards.mosaic-cards > ul > li:hover .cards-card-body p {
  opacity: 1;
}

.cards.mosaic-cards > ul > li a {
  color: var(--text-color);
}

.cards.mosaic-cards > ul > li .cards-card-image,
.cards.mosaic-cards > ul > li .cards-card-image img {
  height: 100%;
}

.cards.mosaic-cards > ul > li .cards-card-body {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 0;
  left: 0;
  margin: 0;
  width: 350px;
  min-height: 80px;
  max-height: 80px;
  overflow: hidden;
  background-color: var(--background-color);
  padding: 20px 25px 0;
  transition: max-height 1.5s ease-out, width 1s ease-out;
}

.cards.mosaic-cards > ul > li .cards-card-body h5 {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.2;
  font-family: Merriweather, serif;
  text-transform: none;
  max-height: 56px;
  max-width: 350px;
  margin: 0 0 .75rem;
}

.cards.mosaic-cards > ul > li .cards-card-body p {
  margin: 0;
  font-size: var(--body-font-size-xs);
  padding-bottom: 15px;
  overflow: hidden;
  opacity: 0;
  transition: opacity 1.5s ease-out;
}

.cards.mosaic-cards > ul > li .cards-card-body p:last-of-type {
  display: flex;
  font-family: Montserrat, sans-serif;
  color: var(--link-color);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

.cards.mosaic-cards > ul > li .cards-card-body p:last-of-type::after {
  content: '';
  transform: rotate(45deg);
  align-self: center;
  margin-left: 5px;
  width: 6px;
  height: 6px;
  border: 2px solid currentcolor;
  border-width: 2px 2px 0 0;
}

@media (width < 768px) {
  .cards.mosaic-cards > ul {
    grid-template-columns: 1fr;
    gap: 1.875rem 30px;
  }
}
