.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

/* Icon Card Content */

.columns.icon-card-content {
  padding-top: 3rem;
  color: var(--text-color-white);
}

.columns.icon-card-content > div {
  gap: 0;
  flex-wrap: wrap;
  justify-content: center;
}

.columns.icon-card-content > div > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 15px;
  padding-left: 15px;
}

.columns.icon-card-content > div > div > p > picture > img {
  height: 91px;
  width: 91px;
  vertical-align: middle;
}

.columns.icon-card-content > div > div > h5 {
  text-transform: none;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.columns.icon-card-content > div > div > :last-child {
  text-align: center;
  margin-top: 0;
  margin-bottom: 1rem;
}