/* eslint-disable no-descending-specificity */
header .nav-wrapper {
  background-color: var(--background-color);
  width: 100%;
  z-index: 2;
  position: relative;
}

header nav[aria-expanded='true'] {
  display: grid;
  grid-template: "brand brand search hamburger" minmax(0, 8rem) "tools-mobile tools-mobile tools-mobile tools-mobile" minmax(0, 5rem) "sections sections sections sections" minmax(0, 20rem) "tools tools tools tools" 1fr / auto 1fr 1fr auto;
  gap: 0;
  overflow-y: auto;
  min-height: 100vh;
}

@media (width >=600px) {
  header nav {
    padding: 0 2rem;
  }
}

@media (width >=900px) {
  header nav[aria-expanded='true'] {
    min-height: 0;
    overflow: visible;
  }
}

header nav p {
  margin: 0;
}

header nav a:any-link {
  color: currentcolor;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

header nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--background-color);
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon,
header nav[aria-expanded='false'] .nav-hamburger-icon::before,
header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::before {
  top: -6px;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon {
  height: 22px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::before,
header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

/* brand */
header nav .nav-brand img {
  height: auto;
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  flex: 1 1 auto;
  display: none;
  visibility: hidden;
  background-color: var(--overlay-color);
}

header nav[aria-expanded='true'] .nav-sections {
  display: block;
  visibility: visible;
}

header nav .nav-sections ul {
  list-style: none;
  padding-left: 0;
  font-size: var(--body-font-size-s);
  font-weight: 500;
}

header nav .nav-sections ul>li {
  font-weight: 700;
}

header nav .nav-sections ul>li>ul {
  margin-top: 0;
}

header nav .nav-sections ul>li>ul>li {
  font-weight: 500;
}

/* tools */
header nav .nav-tools {
  grid-area: tools;
  display: none;

  [aria-expanded="true"] & {
    display: block;
  }

  .nav-drop.login {
    display: none;
  }
}

header {
  nav {
    padding: 0;
    box-sizing: border-box;
    display: grid;
    grid-template:
      'brand brand search hamburger' var(--nav-height) 'sections sections sections sections' 1fr / auto 1fr 1fr auto;
    gap: 0;
    margin: auto;
    height: var(--nav-height);
    font-family: var(--body-font-family);
  }

  .search-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 92%;
    max-width: 60rem;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    &.hidden {
      display: none;
    }

    .button {
      margin: 0;
      border: none;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      padding: 1rem 1.6rem;
    }
  }

  .search-input-wrapper {
    flex: 1;
    display: flex;
    position: relative;
  }

  .search-input {
    width: 100%;
    font-size: var(--body-font-size-xs);
    flex: 1;
    border: 1px solid var(--border-light);
    border-radius: 0.4rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 1.4rem 4rem 1.4rem 5rem;

    &:focus {
      outline: 0;
    }
  }

  .search-icon {
    position: absolute;
    left: 0;
    display: flex;
    padding: 1.2rem;
  }

  .close-icon {
    position: absolute;
    right: 0;
    display: flex;
    background: none;
    border: none;
    margin: 0;
    padding: 1.2rem 1rem 1.2rem 0;
  }

  .search-toggle {
    cursor: pointer;
    display: block;
    border: none;

    .icon-search {
      display: block;

      &.hidden {
        display: none;
      }
    }
  }

  .mobile-search {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-area: search;

    .search-toggle {
      margin: 0;
      padding: 0;
      background: none;
      border: none;
    }

    .hidden {
      display: none;
    }
  }

  .close-menu {
    background: none;
    margin: 0;
    border: none;
    padding: 0;
    flex-flow: row nowrap;
    align-items: center;
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: var(--text-color-white);
    display: none;
    font-size: 1.3rem;
    font-family: var(--body-font-family-mont);
    font-weight: 400;
    text-transform: none;
  }

  .back-btn {
    width: 100%;
    background: none;
    margin: 0;
    text-align: left;
    border: none;
    border-top: 1px solid var(--mobile-menu-item-border);
    position: relative;
    padding: 1rem 2.6rem;

    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 2rem;
      left: 1.5rem;
      transform: rotate(225deg);
      width: 6px;
      height: 6px;
      border: 2px solid currentcolor;
      border-radius: 0 1px 0 0;
      border-width: 2px 2px 0 0;
    }
  }

  .nav-hamburger {
    margin: 2.6rem 1.6rem;
  }

  .nav-brand {
    margin: 1.6rem;
    grid-area: brand;
    flex-basis: 128px;
    font-size: var(--heading-font-size-s);
    font-weight: 700;
    line-height: 1;
  }

  .nav-tools-mobile {
    grid-area: tools-mobile;
    display: none;

    [aria-expanded="true"] & {
      display: block;
    }

    > div {
      > ul {
        margin: 0;
        padding: 0;
        list-style: none;

        > li {
          padding: 1.2rem;
          border-top: 1px solid var(--mobile-menu-item-border);

          &:last-child {
            display: none;
          }

          &[aria-expanded="true"] {
            .nav-drop-container {
              position: absolute;
              top: 8rem;
              left: 0;
              right: 0;
              background: var(--background-color);
              overflow-y: auto;
              height: calc(100vh);
              z-index: 1;
        
              >ul {
                margin: 0;
                padding: 0;
                list-style-type: none;
        
                >li {
                  padding: 0.5rem 2.4rem;
                  line-height: 2.7rem;

                  &:first-child {
                    border-top: 1px solid var(--mobile-menu-item-border);
                  }

                  &:last-child {
                    border-top: 1px solid var(--mobile-menu-item-border);
                  }

                  a {
                    margin: 0;
                    padding: 0;
                    font-family: var(--body-font-family-default);
                    font-weight: var(--font-med-bold);
                    font-size: var(--body-font-size-xxs);
                    color: var(--link-color);
                  }
        
                  >ul {
                    margin: 0;
        
                    >li {
                      font-family: var(--body-font-family-default);
                      font-weight: var(--font-med-bold);
                      font-size: var(--body-font-size-xxs);
                      color: var(--link-color);
                      margin-bottom: 1rem;
                      line-height: 2.7rem;
                    }
                  }
                }
              }
            }
          }

          &.nav-drop {
            >p {
              position: relative;
        
              &::after {
                content: '';
                display: inline-block;
                position: absolute;
                top: 0.5rem;
                right: 1rem;
                transform: rotate(45deg);
                width: 6px;
                height: 6px;
                border: 2px solid currentcolor;
                border-radius: 0 1px 0 0;
                border-width: 2px 2px 0 0;
              }
            }
          }

          > p {
            display: flex;
            align-items: center;
            font-family: var(--body-font-family-mont);
            font-weight: var(--font-semibold);
            font-size: 1.3rem;
            color: var(--text-color);
            outline: none;
          }

          .icon {
            margin-right: 0.4rem;
          }
        }
      }
    }

    .nav-drop {
      &.menu {
        display: none;
      }

      &.login {
        &[aria-expanded="true"] {
          .nav-drop-container {
            display: block;
          }
        }

        .nav-drop-container {
          display: none;
        }
      }
    }
  }

  .nav-sections {
    .nav-drop {
      &[aria-expanded="true"] {
          .nav-drop-container {
            display: block;
          }
        }
      
      .nav-drop-container {
        display: none;
      }

      >p {
        position: relative;
  
        &::after {
          content: '';
          display: inline-block;
          position: absolute;
          top: 0.5rem;
          right: 1rem;
          transform: rotate(45deg);
          width: 6px;
          height: 6px;
          border: 2px solid currentcolor;
          border-radius: 0 1px 0 0;
          border-width: 2px 2px 0 0;
        }
      }
    }

    > div {
      > ul {
        margin: 0;
        display: block;

        > li {
          padding: 1.5rem;
          border-top: 1px solid var(--mobile-menu-item-border);

          &[aria-expanded="true"] {            
            .nav-drop-container {
              position: absolute;
              top: 8rem;
              left: 0;
              right: 0;
              background: var(--background-color);
              overflow-y: auto;
              height: calc(100vh);
              z-index: 1;

              > ul {
                margin: 0;

                > li {
                  border-top: 1px solid var(--mobile-menu-item-border);
                  padding: 1.6rem;
                  line-height: 2.7rem;
                  
                  > .button-container {
                    a {
                      margin: 0;
                      padding: 0;
                      font-size: var(--body-font-size-s);
                      font-family: var(--body-font-family-mont);
                      font-weight: var(--font-light-bold);
                      text-transform: uppercase;
                      color: var(--link-color);
                    }
                  }

                  > ul {
                    margin: 0;

                    > li {
                      font-family: var(--body-font-family-default);
                      font-weight: var(--font-med-bold);
                      font-size: var(--body-font-size-xxs);
                      color: var(--link-color);
                      margin-bottom: 1rem;
                      line-height: 2.7rem;
                    }
                  }
                }
              }
            }
          }

          &:last-child {
            border-bottom: 1px solid var(--mobile-menu-item-border);
          }

          > p {
            font-family: var(--body-font-family-mont);
            font-weight: var(--font-semibold);
            font-size: 1.3rem;
            text-transform: uppercase;
            color: var(--text-color);
            outline: none;

            a.button {
              margin: 0;
              padding: 0;
              border: none;
              font-size: 1.3rem;
              line-height: 1;
            }
          }
        }
      }
    }

    > div > ul > li > .nav-drop-container > ul > li > ul > li:first-child {
      display: none;
    }

    .search-wrapper {
      &.hidden {
        display: none;
      }
    }

    .search-toggle {
      display: none;
    }
  }

  .nav-tools {
    height: 100%;
    background-color: var(--link-color);

    .back-btn {
      background-color: var(--link-color);
      color: var(--text-color-white);
    }

    >div {
      >ul {
        margin: 0;
        padding: 0;
        list-style: none;

        >li {
          padding: 1.5rem;
          border-top: 1px solid var(--mobile-menu-item-border);

          &.menu {
            display: none;
          }

          &:last-child {
            border-bottom: 1px solid var(--mobile-menu-item-border);

            .nav-drop-container {
              > ul {
                > li {
                  >ul {
                    display: flex;
                    flex-flow: row nowrap;
                    align-items: center;
                    justify-content: flex-start;
                    column-gap: 0.8rem;
                    list-style-type: none;
                    margin: 1rem 0 0;
                    padding: 0;
                
                    li {
                      border-radius: 0.4rem;
                    }
                
                    li:nth-of-type(1) {
                      background-color: var(--linkedin-color);
                    }
                
                    li:nth-of-type(2) {
                      background-color: var(--facebook-color);
                    }
                
                    li:nth-of-type(3) {
                      background-color: var(--twitter-color);
                    }
                
                    li:nth-of-type(4) {
                      background-color: var(--instagram-color);
                    }
                
                    li:nth-of-type(5) {
                      background-color: var(--youtube-color);
                    }
                
                    a {
                      background: none;
                      display: flex;
                      padding: 0.8rem;
                    }
                  }
                }
              }
            }
          }

          &[aria-expanded="true"] {
            .nav-drop-container {
              position: absolute;
              top: 8rem;
              left: 0;
              right: 0;
              background-color: var(--link-color);
              overflow-y: auto;
              height: 100vh;
              z-index: 1;

              >ul {
                margin: 0;
                padding: 0;
                list-style-type: none;
                background-color: var(--link-color);

                >li {
                  border-top: 1px solid var(--mobile-menu-item-border);
                  padding: 1.6rem;
                  line-height: 2.7rem;

                  > p {
                    display: flex;
                  }

                  a {
                    margin: 0;
                    padding: 0;
                    font-size: var(--body-font-size-s);
                    font-family: var(--body-font-family-mont);
                    font-weight: var(--font-light-bold);
                    text-transform: uppercase;
                    color: var(--text-color-white);
                    line-height: 2.4rem;
                  }
                }
              }
            }
          }

          &.nav-drop {
            >p {
              position: relative;
              color: var(--text-color-white);

              &::after {
                content: '';
                display: inline-block;
                position: absolute;
                top: 0.5rem;
                right: 1rem;
                transform: rotate(45deg);
                width: 6px;
                height: 6px;
                border: 2px solid currentcolor;
                border-radius: 0 1px 0 0;
                border-width: 2px 2px 0 0;
              }
            }
          }

          >p {
            font-family: var(--body-font-family-mont);
            font-weight: var(--font-semibold);
            font-size: 1.3rem;
            text-transform: uppercase;
            color: var(--text-color);
            outline: none;
          }

        }
      }
    }

    .nav-drop {
      &[aria-expanded="true"] {
        .nav-drop-container {
          display: block;
        }
      }

      .nav-drop-container {
        display: none;
      }
    }
  }
}

@media (width >=1140px) {
  header {
    nav {
      display: flex !important;
      justify-content: space-between;
      padding: 0 1rem;
      align-items: center;

      .mobile-search {
        display: none;
      }

      .nav-hamburger {
        display: none;
        visibility: hidden;
      }

      .nav-tools-mobile {
        display: none;

        [aria-expanded="true"] & {
          display: none;
        }
      }

      .back-btn {
        display: none;
      }

      .close-menu {
        display: flex;
      }
    }

    /* logo */
    .image-block-link {
      margin: 0 1rem 0 5rem;
    }

    /* utility nav */
    .nav-tools {
      height: auto;
      background: none;

      .close-menu {
        margin: 1.4rem 6rem;

        img {
          filter: brightness(0) invert(1);
        }
      }

      .nav-drop:hover {
        > p img {
          filter: invert(43%) sepia(41%) saturate(6221%) hue-rotate(177deg) brightness(96%) contrast(101%);
        }
      }

      >.default-content-wrapper {
        ul {
          margin: 0;
          padding: 0;
          list-style-type: none;
        }

        >ul {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;

          >li {
            margin-right: 3rem;
            border: none;

            &.menu {
              display: block;
            }

            &:last-child {
              border: none;
              display: none;
            }

            .nav-drop-container {
              display: none;
              position: relative;
            }

            &.login {
              display: block;
              margin: 0;

              li {
                font-family: var(--body-font-family-default);
                font-weight: var(--font-med-bold);
                font-size: var(--body-font-size-xxs);
                color: var(--link-color);
              }
            }

            &.nav-drop {
              &:hover {
                cursor: pointer;
            
                >p {
                  color: var(--link-color);
            
                  img {
                    filter: invert(43%) sepia(41%) saturate(6221%) hue-rotate(177deg) brightness(96%) contrast(101%);
                  }
                }
              }

              >p {
                margin: 0;
                padding: 0;
                border: none;
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-start;
                align-items: center;
                transition: none;
                font-family: var(--body-font-family-mont);
                font-size: 1.3rem;
                font-weight: var(--font-semibold);
                text-transform: none;
                color: var(--text-color);
            
                &::after {
                  display: none !important;
                }
            
                .icon {
                  margin-right: 0.4rem;
                  display: block;
                }
            
                img {
                  filter: brightness(0%);
                }
              }
            }

            >ul {
              display: none;
            }

            &[aria-expanded='true'] {
              position: relative;

              > .button-container {
                a {
                  color: var(--link-color);

                  img {
                    filter: invert(43%) sepia(41%) saturate(6221%) hue-rotate(177deg) brightness(96%) contrast(101%);
                  }
                }
              }

              >.nav-drop-container {
                display: block;
                position: absolute;
                left: -50%;
                top: 6.7rem;
                width: 16rem;
                background: var(--background-color);
                border: none;
                padding: 2rem 0;
                height: auto;

                > ul {
                  > li {
                    font-family: var(--body-font-family-default);
                    font-weight: var(--font-med-bold);
                    font-size: var(--body-font-size-xxs);
                    color: var(--link-color);
                    padding: 0;
                    border: none;

                    a {
                      text-decoration: none;
                      display: block;
                      padding: .25rem 1.5rem;
                      width: auto;
                      white-space: normal;
                      text-transform: none;
                      font-family: var(--body-font-family-default);
                      font-size: var(--body-font-size-xxs);
                      font-weight: var(--font-med-bold);
                      color: var(--link-color);
                      background-color: var(--background-color);
                  
                      &:hover {
                        background-color: var(--link-color);
                        color: var(--text-color-white);
                      }
                    }
                  }
                }
              }

              &.menu {
                >.nav-drop-container {
                  display: block;
                  position: fixed;
                  left: unset;
                  top: 0;
                  right: 0;
                  width: 50rem;
                  height: 100vh;
                  background: var(--primary-bg-color);
                  padding: 2rem 0;
                  border: none;
                  box-shadow: -2px 0 4px 0 rgba(0 0 0 / 20%);
                  cursor: default;
                  
                  > ul {
                    margin-top: 6rem;
                    padding: 0 7.5rem;

                    > li {
                      margin: 2.5rem 0 0.8rem;

                      .button-container {
                        a {
                          font-family: var(--body-font-family-mont);
                          font-size: 2rem;
                          color: var(--text-color-white);
                          font-weight: var(--font-semibold);
                          text-transform: uppercase;
                          background: none;
                          text-align: left;
                          border: none;
                        
                          &:hover {
                            color: var(--text-color-white-hover);
                          }
                        }
                      }

                      > a {
                        font-family: var(--body-font-family-mont);
                        font-size: 2rem;
                        color: var(--text-color-white);
                        font-weight: var(--font-semibold);
                        text-transform: uppercase;
                        background: none;
                        text-align: left;
                    
                        &:hover {
                          color: var(--text-color-white-hover);
                        }
                      }

                      > ul {
                        display: flex;
                        flex-flow: row nowrap;
                        align-items: center;
                        justify-content: flex-start;
                        column-gap: 0.8rem;
                        margin: 1rem 0 0 1.5rem;

                        li {
                          border-radius: 0.4rem;
                        }

                        li:nth-of-type(1) {
                          background-color: var(--linkedin-color);
                        }
                      
                        li:nth-of-type(2) {
                          background-color: var(--facebook-color);
                        }
                      
                        li:nth-of-type(3) {
                          background-color: var(--twitter-color);
                        }
                      
                        li:nth-of-type(4) {
                          background-color: var(--instagram-color);
                        }

                        li:nth-of-type(5) {
                          background-color: var(--youtube-color);
                        }

                        a {
                          background: none;
                          display: flex;
                          padding: 0.8rem;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    /* main nav */
    .nav-sections {
      .close-menu {
        display: block;

        .close-text {
          display: none;
        }

        img {
          filter: brightness(0.5);
        }
        
        &:hover {
          img {
            filter: brightness(0);
          }
        }
      }

      ul {
        display: flex;
        gap: 2rem;
        margin: 0;
        font-size: var(--body-font-size-xs);
      }

      .nav-drop {
        position: relative;
        padding-right: 16px;
        cursor: pointer;

        &[aria-expanded='true']>p::after {
          top: 0.7rem;
          transform: rotate(315deg);
        }

        >p::after {
          content: '';
          display: inline-block;
          position: absolute;
          top: 0.3rem;
          right: -2rem;
          transform: rotate(135deg);
          width: 6px;
          height: 6px;
          border: 2px solid currentcolor;
          border-radius: 0 1px 0 0;
          border-width: 2px 2px 0 0;
        }
      }

      .default-content-wrapper {
        .search-wrapper {
          width: 100%;

          .button {
            padding: 0.7rem 2.6rem;
          }
        }

        .search-input {
          padding: 1.1rem 4rem 1.1rem 6rem;
        }

        .search-icon {
          padding: 0.8rem 1.6rem;
        }

        .close-icon {
          padding: 0.9rem 1.6rem 0.9rem 0;
        }

        ul {
          justify-content: center;
          align-items: center;
        }

        >ul {
          display: flex;
          gap: 3.6rem;
          margin: 0;
          font-size: var(--body-font-size-xs);

          >li {
            border: none;

            &.search-toggle {
              display: block;
              border: none;
            }

            .nav-drop-container {
              display: none;
              position: relative;
            }

            &[aria-expanded='true'] {
              position: static;

              >.nav-drop-container {
                display: block;
                position: absolute;
                left: 0;
                right: 0;
                top: 8rem;
                width: 100%;
                background: var(--background-color);
                border-top: 1px solid var(--light-color);
                border-bottom: 1px solid var(--light-color);
                padding: 2.4rem 0 4rem;
                height: auto;
                overflow-y: unset;
                cursor: default;

                >ul {
                  display: flex;
                  flex-flow: column wrap;
                  max-height: 50rem;
                  background: var(--background-color);
                  gap: 1rem;
                  max-width: 1120px;
                  margin: 0 auto;

                  >li {
                    max-width: 37.6rem;
                    margin-right: auto;
                    border: none;
                    padding: 0;

                    a {
                      font-family: var(--body-font-family-default);
                      font-weight: var(--font-bold);
                      font-size: var(--body-font-size-xxs);
                      color: var(--link-color);
                      text-decoration: none;

                      &:hover {
                        color: var(--link-dark-hover-color);
                      }
                    }

                    >.button-container {
                      a {
                        color: var(--link-color);
                        font-size: var(--body-font-size-m);
                        font-weight: var(--font-light-bold);
                        padding: 0;
                        margin: 0;
                        border: none;

                        &:hover {
                          color: var(--link-dark-hover-color);
                        }
                      }
                    }

                    >ul {
                      flex-flow: column nowrap;
                      align-items: flex-start;
                      white-space: initial;
                      gap: 1rem;

                      >li {
                        font-family: var(--body-font-family-default);
                        font-size: var(--body-font-size-xxs);
                        margin-bottom: 0;

                        &:first-child {
                          display: block;
                          font-family: var(--body-font-family-default);
                          font-size: var(--body-font-size-xxs);
                          line-height: 1.29;
                          margin-top: .5rem;
                          margin-bottom: .7rem;
                          color: var(--text-body-color);
                          font-weight: var(--font-regular);
                        }
                      }

                    }

                    .about-us & {
                      max-width: 86.4rem;
                      margin: 0 auto;

                      >ul {
                        flex-flow: row wrap;
                        justify-content: flex-start;
                        column-gap: 0;

                        >li {
                          flex: 0 0 33.3333%;

                          &:first-child {
                            flex: 0 0 100%;
                            color: var(--text-body-color);
                            font-family: var(--body-font-family-default);
                            font-size: var(--body-font-size-xxs);
                            font-weight: var(--font-regular);
                            margin-top: .5rem;
                            margin-bottom: .7rem;
                            line-height: 1.8rem;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }

        >ul>li>p {
          text-transform: uppercase;
          font-size: 1.3rem;
          font-weight: var(--font-semibold);
          font-family: var(--button-font-family);
          color: var(--text-color);
          position: relative;

          &:hover {
            color: var(--link-color);
          }
        }

        .nav-drop {
          position: static;

          &::after {
            top: 0;
          }

          &:hover {
            &::after {
              color: var(--link-color);
            }

            >p {
              color: var(--link-color);
            }
          }
        }

        >ul>li>p>a.button {
          text-transform: uppercase;
          font-size: 1.3rem;
          font-weight: var(--font-semibold);
          font-family: var(--button-font-family);
          color: var(--text-color);

          &:hover {
            color: var(--link-color);
          }
        }
      }
    }
  }
}